


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;}



body
{
  background: lightslategray;    
}

.wrapper
{
    width: 980px;
    height: auto;
    margin: auto;
    background:white;
}


.header
{
    width: 980px;
    height: 150px;
    background: white;
    background-image:url(bg-header.jpg);
    border-bottom: 2px groove orange;
}

.left_sidebar
{
    width: 750px;
    height: auto;
    background: white;
    background-image:url(bg-body.png);
    background-repeat: no-repeat;
    float: left;
}

.right_sidebar
{
    width:230px;
    height: auto;
    background: gray;
    float: right;
    border-left:0px groove orange;
        
}

.right_sidebar a 
{
    text-decoration: none;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 8px;
    margin-bottom: 10px;
    display: block;
    color: white;
    
    
}

.right_sidebar a:hover
{
    text-decoration: underline;
    font-weight: bolder;
}